.link{
    color: #000;
    font-size: 1.6rem;
    svg{
        margin-left: .15em;
        width: 16px;
        height: 16px;
        background-color: #FC5C17;
        border: 1.5px solid #FC5C17;
        border-radius: 50%;
        color: #fff;
    }
}