 .nav {
     height: 8rem;
     padding: 1.6rem;

     button {
         padding: 1.6rem 2rem;
         background-color: var(--primary-color);
         border-radius: 8px;
         color: #fff;
         font-size: 1.6rem;
         cursor: pointer;
         transition: opacity .5s;

         &:hover {
             opacity: 0.9;
         }
     }
 }
 .pagination{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4em;
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;
        font-size: 1.8rem;
        font-weight: 500;
        color: #0000007c;
        transition: .5s;
        cursor: pointer;
        &:hover{
            color: #333;
        }
        &:disabled{
            opacity: 0;
            cursor: default;
        }
        svg{
            width: 6px;
            height: 12px;
            color: #FC5C17;
        }
    }
 }
 .error{
    height: 80vh;
    display: grid;
    place-items: center;
    font-size: 1.6rem;
    p{
        opacity: .8;
    }
    button{
        font-size: 2rem;
        font-weight: bold;
        cursor: pointer;
        svg{
            width: 35px;
            height: 35px;
            transition: transform .7s;
        }
        &:hover{
            svg{
                transform: rotate(-55deg);
            }
        }
    }
 }