 .nav {
     height: 8rem;
     padding: 1.6rem;

     button {
         padding: 1.6rem 2rem;
         background-color: var(--primary-color);
         border-radius: 8px;
         color: #fff;
         font-size: 1.6rem;
         cursor: pointer;
         transition: opacity .5s;

         &:hover {
             opacity: 0.9;
         }
     }
 }