@import '../../mixins/mixins';

.roundTable {
    @include baseTable;

    tbody {
        width: 100%;

        tr {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;

            .date {
                width: 100%;
                font-weight: 400;
                opacity: .5;
                text-align: center;
                text-wrap: nowrap;
            }

            .teams {
                flex-grow: 1;
                margin-left: 1.6rem;
                padding-inline: .8rem;
                border-left: 3px solid #61AEE4;

                div {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 12px;
                }

                img {
                    width: 1.6rem;
                    height: 1.6rem;
                }
            }

            .score {
                display: none;
                margin-inline: 1em;
                opacity: .5;
            }

            .controls {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .8rem;

                div {
                    padding: .8rem 1.6rem;
                    border: 1.5px solid #D5E0E8;
                    border-radius: .8rem;
                }
                img{
                    cursor: pointer;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .roundTable {
        tbody {
            tr {
                flex-wrap: nowrap;

                .date {
                    max-width: 200px;
                    text-align: left;
                }

                .teams {
                    min-width: 195px;

                    div {
                        justify-content: start;

                        .goals {
                            display: none;
                        }
                    }
                }

                .score {
                    display: table-cell;
                }

                .controls {
                    width: auto;
                    justify-content: start;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .roundTable {
        tbody {
            tr {
                .score {
                    margin-inline: 5rem;
                }
            }
        }
    }
}